/*  your css code here. If applicable */
.container {
  height: 200px;
width:200px;
  display: flex;
	border: 2x black;
 background:lightblue;
  align-items: center;
  justify-content: center;
}

.item {
  width: 10em;